$primary: #FFAA63;
$secondary: #FF7400;
$tertiary: #9B4600;

html {
  background-color: #FFFFFF;
}

section#navigator {
  background-color: #FFFFFF;
  #test {
    color: $primary;
    font-size: 40px;
    font-weight: 900;
    font-family: Fira Sans Condensed;
    margin-top: 70px;
    height: 300px;
    .columns {
      &:first-child {
      }
      &:last-child {
        border-right: solid rgba(220,220,220, 0.25);
        border-radius: 0 30px 30px 0;
      }
      border-top: solid rgba(220,220,220, 0.25);
      border-bottom: solid rgba(220,220,220, 0.25);
      // margin-left: -20px;
      border: 1px 0 1px 0 solid #DCDCDC;
      line-height: 100%;
      padding: 10px 10px 10px 10px;
      text-align: center;
      &:hover {
        background-color: $secondary;
        cursor: pointer;
        color: $tertiary;
      }
    }
  }
  ul {
    list-style: none;
    color: $primary;
    font-size: 40px;
    font-weight: 900;
    font-family: Fira Sans Condensed;
    margin-top: 70px;
    height: 300px;
    li {
      &:first-child {
        border: solid rgba(220,220,220, 0.25);
        border-left: none;
        border-radius: 0 20px 20px 0;
      }
      border: solid rgba(220,220,220, 0.25);
      border-left: none;
      border-radius: 0 20px 20px 0;
      background-color: white;
      line-height: 100%;
      padding: 10px 10px 10px 10px;
      text-align: center;
      &:hover {
        box-shadow: 3px 3px 0px 3px rgba(220,220,220, 1);
        transition: box-shadow 0.5s;
        margin-right: 20px;
        cursor: pointer;
      }
    }
  }
}
