<!DOCTYPE html>
<html ng-app="rollApp">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	<link rel="stylesheet" href="scss/app.css" />
</head>
<body ng-controller="rollCtrl">

<section id="rollover">
	<div class="row">
		<div class="budget-column small-5 columns">
			<h2>Your current budget is:</h2>
		</div>
		<div class="budget-column small-7 columns">
			<h1> $ {{ rollover }} </h1>
		</div>
	</div>
	<div class="row">
		<div class="budget-headers small-12 columns">
				<button ng-click='setBudget(budgetValue)' class="button large secondary">Budget adjust:</button>
				<input type="number" ng-keyup='$event.keyCode == 13 ? setBudget(budgetValue) : null' ng-model="budgetValue"></input>
				<button ng-click='subtract(budget.spent)' class="button large danger">Spent:</button>
				<input type="number" ng-keyup='$event.keyCode == 13 ? subtract(budget.spent) : null' ng-model="budget.spent"></input>
				<button ng-click='newBeginning(budget.month, budget.day, budget.year)' class="button large warning">New Restart Date</button>
				 <input type="text" ng-keyup='$event.keyCode == 13 ? newBeginning(budget.month, budget.day, budget.year) : null' ng-model="budget.month" value="dec"></input>
				 <input type="text" ng-keyup='$event.keyCode == 13 ? newBeginning(budget.month, budget.day, budget.year) : null' ng-model="budget.day" value="31" />
				 <input type="text" ng-keyup='$event.keyCode == 13 ? newBeginning(budget.month, budget.day, budget.year) : null' ng-model="budget.year" value="1999" />
		</div>
	</div>
	<button ng-click="resetBudget()" class="button large primary">Reset Budget</button><br />
</section>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
<script src="rollController.js"></script>
</body>
</html>
