:root {
    --primary-color: #507992;
    --secondary-color: #e25d01;
    --tertiary-color: #9cbdd1;
    --quaternary-color: #1d465f;
    --quinterary-color: #a02c00;
    --bs-body-color: rgba(10, 10, 10, 60%);
    --header-font-size: 42px;
    --subsection-header: 23px;

    #page-content-wrapper {
        @media screen and (max-width: 876px) {
            margin: 0 8px;
        }
    }

    * {
        font-family: 'Barlow', sans-serif;
    }

    p {
        &.education-item {
            margin: 0 0 8px 0;
        }
    }

    span {
        &.flair {
            color: var(--secondary-color);
        }
    }

    h3 {
        &.subtitle {
            color: var(--quaternary-color)
        }
    }
    h4 {
        .timeline {
            color: var(--primary-color)
        }
    }
    h5 {
        &.job-title {
            margin: 0;
            font-weight: 700;
            color: var(--secondary-color);
            .timeline {
                color: var(--primary-color)
            }
        }
    }

    ul {
        padding-inline-start: 20px;
        li {
            list-style-type: '\1F539';
            ul {
                li {
                    list-style-type: '\1F538';
                }
            }
        }
    }

    .smart-row {
        display: inline-flex;
        min-width: 100%;
        text-align: left;
        .columnar {
            text-align: left;
            width: 100%;
            &.twentieth {
                width: 5%;
            }
            &.tenth {
                width: 10%;
            }
            &.fifth {
                width: 20%;
            }
            &.quarter {
                width: 25%;
            }
            &.third {
                width: 33%;
            }
            &.half {
                width: 50%;
            }
            &.three-fifths {
                width: 60%;
            }
            &.two-thirds {
                width: 66%;
            }
            &.three-quarters {
                width: 75%;
            }
            &.four-fifths{
                width: 80%;
            }
            &.nine-tenths {
                width: 90%;
            }
            &.cat-col {
                text-align: center;
                img#fun-img {
                    max-width: 200px;
                }
            }
        }
        @media screen and (max-width:1080px) {
            .columnar {
                &.fifth {
                    width: 25%;
                }
                &.half {
                    width: 50%;
                }
            }
        }
        @media screen and (max-width:876px) {
            display: block;
            .columnar {
                min-width: 100%;
                /* width: 100%; */
            }
        }
    }

    .columnar.menu {
        div.centralizer {
            @media screen and (max-width:876px) {
                margin-top: 20px;
            }
            text-align: center;
            .toolbar-item-parent {
                margin-top: 30px;
                font-family: 'Barlow', sans-serif;
                color: var(--primary-color);
                font-size: var(--subsection-header);
                font-weight: 700;
                cursor: pointer;
                @media screen and (max-width:876px) {
                    margin-top: 10px;
                }
                &:first-child {
                    margin-top: 0;
                }
                .open-curly {
                    margin-right: 2px;
                }
                .closed-curly {
                    margin-left: 1px;
                }
                .open-curly, .closed-curly {
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                    display: inline-block;
                    transform: translateY(-2px);
                    &.perma {
                        opacity: 1;
                    }
                }
                &:hover {
                    .open-curly, .closed-curly {
                        opacity: 1;
                    }
                }
                &.perma {
                    .open-curly, .closed-curly {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .smart-row .columnar.util-col {
        text-align: center;
        cursor: pointer;
        img#logo {
            margin-top: 20px;
            max-width: 165px;
        }
    }
    .title-col {
        margin-top: 50px;
        #contact-widget {
            border: solid 2px rgba(80, 121, 146, 0.5);
            width: fit-content;
            padding: 10px;
            border-radius: 10px;
            color: var(--primary-color);
            @media screen and (max-width:876px) {
                margin: 0 auto;
            }
            span.pipe {
                @media screen and (max-width:307px) {
                    display: none;
                }
            }
            span.info {
                margin-right: 8px;
                margin-left: 8px;
                @media screen and (max-width:307px) {
                    margin: 0 0 8px 0;
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .open-curly, .closed-curly {
                    margin: 0;
                    color: var(--quaternary-color);
                    font-weight: 700;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                }
                &:hover {
                    .open-curly, .closed-curly {
                        opacity: 1;
                    }
                }
                a {
                    text-decoration: none;
                    color: var(--secondary-color);
                    &:visited {
                        color: var(--secondary-color);
                    }
                }
            }
        }
    }

    span#pre-title {
      color: var(--primary-color);
      font-weight: 700;
      font-family: 'Barlow', sans-serif;
      font-size: var(--subsection-header);
      display: inline-block;
      width: 100%;
      @media screen and (max-width:876px) {
        text-align: center;
      }
    }
    h1 {
      font-family: 'Barlow', sans-serif;
      color: var(--primary-color);
      font-weight: 700;
      line-height: 35px;
      font-size: 40px;
      &.main-title {
        margin-top: 5px;
        @media screen and (max-width:876px) {
            text-align: center;
        }
      }
      span {
        font-family: 'Barlow', sans-serif;
        color: var(--secondary-color);
      }
    }
    .badge-holder {
        img {
            width: 100%;
        }
        &.ios {
            max-width: 150px;
        }
        &.google {
            max-width: 171px;
            transform: translateX(-11px);
        }
    }
  
    .subsection {
      color: rgba(10, 10, 10, 60%);
      width: 100%;
      h2 {
        color: var(--secondary-color);
        font-family: 'Barlow', sans-serif;
        font-size: 28px;
        margin-top: 0;
        @media screen and (max-width:876px) {
            margin-top: 20px;
        }
      }
      &.portfolio {
        .img-container {
            width: 90%;
            img {
                max-width: 100%;
            }
        }
        .leviton-app-link {
            margin: 10px 0;
            a {
                color: var(--quinterary-color)
            }
        }
      }
    }
  
    .open-curly, .closed-curly {
      color: var(--secondary-color);
    }
  
    .subsection {
        transition: all 0.4s ease-in-out;
        display: none;
        opacity: 0;
        &.perma {
            opacity: 1;
        }
        &.about {
            p:first-child {
                margin-top: 0;
            }
            img#self {
                max-width: 230px;
                margin: 0 15px 15px 0;
                float: left;
            }

            img#chauncey {
                max-width: 500px;
            }
            img#chauncey-gardener {
                max-width: 500px;
            }
            img#chauncey-general {
                max-width: 500px;
            }
            @media screen and (max-width:876px) {
                img#self,
                img#chauncey,
                img#chauncey-gardener,
                img#chauncey-general {
                    max-width: 100%;
                }
                img#self {
                    max-width: 230px;
                }
            }
            @media screen and (max-width:400px) {
                img#self {
                    float: none;
                }
            }
        }
      }

      .copyright {
        padding: 20px 0;
        text-align: center;
      }

      .mono {
        font-family: monospace;
        font-size: 18px;
      }

      .shrink-wrapper {
        .smart-row-shrink,
        .columnar-shrink {
            display: inline-block;
        }
        .smart-row-shrink.trigger {
            margin-bottom: 15px;
            width: 100%;
        }
        .columnar-shrink.left {
            width: 8%;
            min-width: 8%;
            @media screen and (max-width: 1600px) {
                width: 12%;
                min-width: 12%;
            }
            @media screen and (max-width: 1080px) {
                width: 15%;
                min-width: 15%;
            }
            @media screen and (max-width: 876px) {
                width: 20%;
                min-width: 20%;
            }
            @media screen and (max-width: 600px) {
                width: 25%;
                min-width: 25%;
            }
            @media screen and (max-width: 400px) {
                width: 30%;
                min-width: 30%;
            }
            @media screen and (max-width: 320px) {
                width: 35%;
                min-width: 35%;
            }
            @media screen and (max-width: 280px) {
                width: 40%;
                min-width: 40%;
            }
            @media screen and (max-width: 240px) {
                width: 50%;
                min-width: 50%;
            }
        }
        .arrow {
            width: 58px;
            cursor: pointer;
            padding: 5px 5px 5px 5px;
            transition: all 0.3s ease-in-out;
            animation-name: bounce;
            animation-duration: 0.75s;
            animation-direction: alternate-reverse;
            animation-iteration-count: infinite;
            transform: rotate(0) translateX(0);
        }
        .arrow-pointy {
            width: 18px;
            padding: 5px;
            cursor: pointer;
            border: solid 3px var(--secondary-color);
            transition: all 0.3s ease-in-out;
            border-radius: 100%;
            transform: rotate(90deg);
        }
        .shrinkee {
            transition: all 1s ease-in-out;
            max-height: 0;
            overflow: hidden;
            width: 100%;
        }
        &.active {
            .arrow {
                animation-direction: alternate;
                animation-iteration-count: 1;
                transform: rotate(45deg) translateX(0);
            }
            .arrow-pointy {
                transform: rotate(180deg);
            }
            .shrinkee {
                width: 100%;
                max-height: 600px;
            }
        }
      }

      iframe.showcase {
        max-width: 1200px;
        width: 100%;
        height: 600px;
    }
}

@keyframes bounce {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(20px);
    }
}