
/* img#logo {
    margin-top: 20px;
    max-width: 165px;
    animation-name: logopulse;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
  }
  
  @keyframes logopulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  } */

  /* .pointer-animation {
    display: inline-block;
    width: 50px;
    .pointer {
      width: 40px;
      animation-name: pointer;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-direction: normal;
      animation-iteration-count: infinite;
    }
  }
  
  @keyframes pointer {
    0% {
      margin-left: 0;
    }
    50% {
      margin-left: 10px;
    }
    100% {
      margin-left: 0;
    }
  } */
  
  /* h1 {
    padding: 0 10px 5px 10px;
  } */
  
  /* .hover-text {
    border: 2px solid rgba(235, 174, 52, 0%);
    border-radius: 6px;
    &:hover {
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      border: 2px solid rgba(235, 174, 52, 80%);
      border-radius: 6px;
    }
  }
  h1.hover-text {
    transform: translateX(-10px);
  } */
  
  
  /* Former Menu item border */
  /* border-bottom: 1px solid rgba(128, 128, 128, 20%); */
  /* width: fit-content; */
  
  /*
  .toolbar {
    .toolbar-item-parent {
      border: 2px solid rgba(235, 174, 52, 0%);
      border-radius: 6px;
      color: rgba(10, 10, 10, 60%);
      padding: 4px;
      @media screen and (min-width: 600px) {
        width: 100%;
      }
      &:hover {
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        border: 2px solid rgba(235, 174, 52, 80%);
        border-radius: 6px;
      } 
    }
    .toolbar-item {
      padding: 2px;
      border-right: 2px solid rgba(235, 174, 52, 80%);
      &:last-child {
        border-right: none;
      }
    }
  }
  */
  
  /* .menu {
      border: 2px solid rgba(235, 174, 52, 50%);
      padding: 5px;
      border-radius: 10px;
      width: fit-content;
      min-width: 120px;
      .menu-item {
        font-size: 18px;
        padding: 5px;
        border: 2px solid rgba(235, 174, 52, 0%);
        border-radius: 10px;
        &:hover {
          transition: all 0.5s ease-in-out;
          border: 2px solid rgba(235, 174, 52, 80%);
          background-color: rgba(255, 236, 153, 20%);
          border-radius: 10px;
          cursor: pointer;
        }
      }
    } */